/* '*' symbol is asterisk. it is also called as
wildcard in many languages */
*{
    box-sizing: border-box;
    
    /* for avoiding defualt browser padding
    or resetting the padding and margin */
    padding: 0;
    margin: 0; 
}
.container{
    border: 1px solid green;
    .content{
        border: 1px solid red;
        border-radius: 10px;
        background-color: rgb(18, 2, 49);
        /* color means text color in html */
        color: rgb(226, 232, 238);
        height: 100px;
        width: 100px;
        padding: 43px;
        margin: 10px;

        .inner-content{
            background-color: aliceblue;
        }
    }
}